__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.manifest
*.spec

.venv/
env/
venv/
ENV/

.streamlit/secrets.toml

*.dll
*.so
*.dylib
*.exe
*.o
*.obj
*.a
*.lib

cmake-build-*/
CMakeFiles/
Makefile
CMakeCache.txt
install_manifest.txt

*.stackdump

*.log

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

